[FORMAT]
max-line-length=240
indent-string="  "
disable=no-self-argument, invalid-name, no-method-argument, protected-access, no-member, not-an-iterable, consider-using-dict-items, consider-iterating-dictionary, fixme, redefined-builtin, use-implicit-booleaness-not-comparison, too-many-locals